@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #FDF2E9;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

wn::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}



.dropdown.active::before {
    top: 22px;
    transform: rotate(-225deg);
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    font-size: 1.2em;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
}

.dropdown .options {
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .options {
    display: block;
}

.dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown .options div:hover {
    background: #62baea;
    color: #fff;
}
/* footer css */
.flex{
    display: flex;
    gap: 3.2 rem;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.no-list-style ul li{
    list-style-type: none;
}

.position{
    text-align: center;
}
.mag{
    margin: 100px;
}


/* main section */
.carousel {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    position: relative;
    justify-content: center;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 5rem;
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel .carousel__actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .carousel .carousel__actions button#carousel__button--prev {
    margin-left: 20px;
  }
  
  .carousel .carousel__actions button#carousel__button--next {
    margin-right: 20px;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }
  
  /* testimonial section */
  
  /**************************/
  /* GENRAL REUSABLE COMPONENTS */
  /**************************/
  
  .container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    font-size: 62.5%;
    line-height: 1;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }
  
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }
  
  /* .grid:last-child {
    margin-bottom: 0;
  } */
  
  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }
  
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }

  .heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}


  /**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
  }
  
  .testimonials-container {
    /* padding: 9.6rem; */
    padding-left: 2rem;
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
  }
  
  .testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
  
  .testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  
  .testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
  
  .gallery-item {
    overflow: hidden;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  
  /* img fix in gallery */
  .gallery-item img{
      height:25rem;
  }
  /*  */
  /* footer fix */
  .fix{
    margin: 3.2rem 0;
  }
 /* .footer{
   margin-top: 6.4rem;
 } */
  .footer a:link,a:visited{
   
  }
  .footer b{
    margin-bottom: 1.6rem;
  }

/* section cta */


  .section-cta {
    /* top / right / bottom / left */
    /* padding: 9.6rem 0 12.8rem 0; */
  
    /* top / horizontal / left */
    padding: 4.8rem 0 12.8rem;
  }
  
  .cta {
    display: grid;
    /* 2/3 = 66.6% + 1/3 = 33.3% */
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
  
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
  }
  
  .cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
  }
  
  .cta .heading-secondary {
    /* color: #45260a; */
    color: inherit;
    margin-bottom: 3.2rem;
  }
  
  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }
  
  .cta-img-box {
    background-image: linear-gradient(
        to right bottom,
        rgba(235, 151, 78, 0.35),
        rgba(230, 125, 34, 0.35)
      ),
      url("./img/child-3046494_960_720.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  }
  
  .cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  
  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .cta-form input::placeholder {
    color: #aaa;
  }
  
  .cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  }
  

  /* btn styling */
  
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

/* main-nav */
.main-nav{
  background-color: #eb984e;
}
.carousel__category{
  position:absolute;
  top:2.1rem;
  left:39rem;
  font-weight:700;
  font-size: 1.6rem;
  color:#777;
}

/* .main-nav{
  margin-bottom:64px;
} */

.carousel{
  margin-top: 4.8rem;
}